@{
    ViewData["Title"] = "Home Page";
}
@model PersonViewModelLists
<div class="text-center">
    @if (!User.Identity.IsAuthenticated)
    {
        <h1>Welcome, log in to see more detailed information!</h1>
    }
    else
    {
        <h1>Welcome, @User.Identity.Name!</h1>

        @if (User.IsInRole("Patient"))
        {
            <h1>@Model.PersonViewModel.PatientModel.Name's  overview:</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">DateOfBirth</th>
                        <th scope="col">Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.PersonViewModel.PatientModel.Name</td>
                        <td>@Model.PersonViewModel.PatientModel.Email</td>
                        <td>@Model.PersonViewModel.PatientModel.DateOfBirth</td>
                        <td>@Model.PersonViewModel.PatientModel.Gender</td>
                    </tr>
                </tbody>
            </table>
        }

        @if (Model.PersonViewModel.PatientModel.PatientDossier.Therapist != null)
        {
            <h2>Patienten dossier van @Model.PersonViewModel.PatientModel.Name</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>PlannedDate</th>
                        <th>Therapist</th>
                        <th>Diagnose code</th>

                        <th>IntakeDoneBy</th>
                        <th>IntakeSupervisedBy</th>
                        <th>DueDate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.PersonViewModel.PatientModel.PatientDossier.PlannedDate</td>
                        <td>@Model.PersonViewModel.PatientModel.PatientDossier.Therapist.Name</td>
                        <td>@Model.PersonViewModel.PatientModel.PatientDossier.DiagnosisCode</td>

                        <td>@Model.PersonViewModel.PatientModel.PatientDossier.IntakeDoneBy.Name</td>
                        <td>@Model.PersonViewModel.PatientModel.PatientDossier.IntakeSupervisedBy.Name</td>
                        <td>@Model.PersonViewModel.PatientModel.PatientDossier.DueDate</td>
                    </tr>
                </tbody>
            </table>
        }

        @if (Model.PersonViewModel.PatientModel.PatientDossier.ExtraComments != null)
        {
            <h2>Extra opmerkingen</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Opmerking</th>
                        <th>Aangemaakt op:</th>
                        <th>Gemaakt door:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var comment in Model.PersonViewModel.PatientModel.PatientDossier.ExtraComments)
                    {
                        if (comment.CommentVisibleForPatient)
                        {
                            <tr>
                                <td>@comment.Id</td>
                                <td>@comment.Comment</td>
                                <td>@comment.TimeOfCreation</td>
                                <td>@comment.CommentMadeBy.Name</td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        }
    }


    <h1>Home overzicht</h1>

</div>
