@model IEnumerable<AvansFysioOpdrachtIndividueel.Models.PatientTreatmentViewModel>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Patienten vandaag</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Complicaties</th>
            <th>Beschrijving van behandeling</th>
            <th>Behandel tijd</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var patient in Model)
        {
            @foreach(var treatment in patient.Treatments)
            {
                <tr>
                    <td>@patient.Id</td>
                    <td>@patient.Name</td>
                    <td>@treatment.Complications</td>
                    <td>@treatment.Description</td>
                    <td>@treatment.TreatmentTime</td>
                </tr>
            }
        }
    </tbody>
</table>