@model IEnumerable<AvansFysioOpdrachtIndividueel.Models.TreatmentViewModel>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Hallo  @User.Identity.Name!</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Complicaties</th>
            <th>Beschrijving van behandeling</th>
            <th>Behandel tijd</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var treatment in Model)
        {
            <tr>
                <td>@treatment.treatment.Id</td>
                <td>@treatment.Name</td>
                <td>@treatment.treatment.Complications</td>
                <td>@treatment.treatment.Description</td>
                <td>@treatment.treatment.TreatmentTime</td>
            </tr>
        }
    </tbody>
</table>