@model AvansFysioOpdrachtIndividueel.Models.PatientDossierViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@Model.PatientModel.Name's  overview:</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">DateOfBirth</th>
                <th scope="col">Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.PatientModel.Name</td>
                <td>@Model.PatientModel.Email</td>
                <td>@Model.PatientModel.DateOfBirth</td>
                <td>@Model.PatientModel.Gender</td>
            </tr>
        </tbody>
    </table>

    @if (Model.PatientModel.PatientDossier != null)
    {
        <h2>Patienten dossier van @Model.PatientModel.Name</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>PlannedDate</th>
                    <th>Therapist</th>
                    <th>ExtraComments</th>
                    <th>Diagnose code</th>

                    <th>IntakeDoneBy</th>
                    <th>IntakeSupervisedBy</th>
                    <th>DueDate</th>
                    <th>PlannedDate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.PatientModel.PatientDossier.PlannedDate</td>
                    <td>@Model.PatientModel.PatientDossier.Therapist.Name</td>
                    <td>@Model.PatientModel.PatientDossier.ExtraComments</td>
                    <td>@Model.PatientModel.PatientDossier.DiagnosisCode</td>

                    <td>@Model.PatientModel.PatientDossier.IntakeDoneBy.Name</td>
                    <td>@Model.PatientModel.PatientDossier.IntakeSupervisedBy.Name</td>
                    <td>@Model.PatientModel.PatientDossier.DueDate</td>
                    <td>@Model.PatientModel.PatientDossier.PlannedDate</td>
                </tr>
            </tbody>
        </table>

    }
    else
    {
        <h2>Hier komen patienten dossier's</h2>
    }

    @if (Model.PatientModel.PatientDossier.Treatments.Count > 0)
    {
        <h2>Patienten dossier van @Model.PatientModel.Name</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Complications</th>
                    <th>TreatmentRoomOrTrainingRoom</th>
                    <th>TreatmentTime</th>
                    <th>Description</th>
                    <th>Id</th>
                    <th>VektisType</th>
                    <th>Behandeling gedaan door</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var treatment in Model.PatientModel.PatientDossier.Treatments)
                {
                    <tr>
                        <td>@treatment.Complications</td>
                        <td>@treatment.TreatmentRoomOrTrainingRoom</td>
                        <td>@treatment.TreatmentTime</td>
                        <td>@treatment.Description</td>
                        <td>@treatment.Id</td>
                        <td>@treatment.VektisType</td>
                        <td>@treatment.TreatmentDoneBy.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>Hier komen patient behandelingen</h2>
    }
    <form asp-action="AddTreatment" asp-route-id="@Model.PatientModel.Id" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="@Model.TreatmentModel.VektisType">Vektis Type:</label>
            <input class="form-control" asp-for="@Model.TreatmentModel.VektisType" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.TreatmentModel.Description">Beschrijving:</label>
            <input class="form-control" asp-for="@Model.TreatmentModel.Description" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.TreatmentDoneById">Behandeling gedaan door:</label>
            <select class="form-control form-select form-select-lg mb-3" asp-for="@Model.TreatmentDoneById"
                    asp-items="@(new SelectList(Model.SelectItems,"Id","Name"))">
                <option>Selecteer een optie</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="@Model.TreatmentModel.TreatmentTime">Wanneer vind de behandeling plaats:</label>
            <input class="form-control" asp-for="@Model.TreatmentModel.TreatmentTime" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.TreatmentModel.TreatmentRoomOrTrainingRoom">Is het een behandelkamer?</label>
            <input class="form-control" asp-for="@Model.TreatmentModel.TreatmentRoomOrTrainingRoom" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.TreatmentModel.Complications">Zijn er nog extra complicaties:</label>
            <input class="form-control" asp-for="@Model.TreatmentModel.Complications" />
        </div>
        <button class="btn btn-primary" type="submit">Client toevoegen</button>
    </form>

    <form asp-action="AddDossier" asp-route-id="@Model.PatientModel.Id" method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="@Model.PatientModel.PatientDossier.IssueDescription">Het probleem:</label>
            <input class="form-control" asp-for="@Model.PatientModel.PatientDossier.IssueDescription" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.PatientModel.PatientDossier.DiagnosisCode">Diagnose code:</label>
            <input class="form-control" asp-for="@Model.PatientModel.PatientDossier.DiagnosisCode" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.IntakeDoneById">Intake gedaan door:</label>
        </div>

        <div class="form-group">
            <label asp-for="@Model.SupervisedById">Intake gesupervised door:</label>
            <select class="form-control form-select form-select-lg mb-3" asp-for="@Model.SupervisedById"
                    asp-items="@(new SelectList(Model.SelectItems,"Id","Name"))">
                <option>@Model.PatientModel.PatientDossier.IntakeSupervisedBy.Name</option>
            </select>
            <label asp-for="@Model.TherapistId">Therapuit:</label>
            <select class="form-control form-select form-select-lg mb-3"  asp-for="@Model.TherapistId"
                    asp-items="@(new SelectList(Model.SelectItems,"Id","Name"))">
                <option>@Model.PatientModel.PatientDossier.IntakeDoneBy.Name</option>
            </select>
            <label asp-for="@Model.IntakeDoneById">Intake gedaan door:</label>
            <select class="form-control form-select form-select-lg mb-3" asp-for="@Model.IntakeDoneById"
                    asp-items="@(new SelectList(Model.SelectItems,"Id","Name"))">
                <option>@Model.PatientModel.PatientDossier.IntakeDoneBy.Name</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="@Model.PatientModel.PatientDossier.PlannedDate">Wie gaat de therapie uitvoeren:</label>
            <input class="form-control" asp-for="@Model.PatientModel.PatientDossier.PlannedDate" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.PatientModel.PatientDossier.DueDate">Tot wanneer krijgt @Model.PatientModel.Name hulp:</label>
            <input class="form-control" asp-for="@Model.PatientModel.PatientDossier.DueDate" />
        </div>

        <div class="form-group">
            <label asp-for="@Model.TherapistId">Wie gaat de therapie uitvoeren:</label>        
        </div>

        <div class="form-group">
            <label asp-for="@Model.PatientModel.PatientDossier.ExtraComments">Extra toevoegingen:</label>
            <input class="form-control" asp-for="@Model.PatientModel.PatientDossier.ExtraComments" />
        </div>

        <button class="btn btn-primary" type="submit">Client toevoegen</button>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PatientModel.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
