@model AvansFysioOpdrachtIndividueel.Models.TreatmentFormViewModel
@{
    ViewData["Title"] = "Create";
}
<h1>Voeg een behandeling toe </h1>
<form asp-action="Create" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="@Model.Treatment.VektisType">Vektis Type:</label>
        <input class="form-control" asp-for="@Model.Treatment.VektisType" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Treatment.Description">Beschrijving:</label>
        <input class="form-control" asp-for="@Model.Treatment.Description" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.TherapyDoneById">Behandeling gedaan door:</label>
        <select class="form-control form-select form-select-lg mb-3" asp-for="@Model.TherapyDoneById"
                asp-items="@Model.Therapists">
            <option>Selecteer een optie</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Treatment.TreatmentTime">Wanneer vind de behandeling plaats:</label>
        <input class="form-control" asp-for="@Model.Treatment.TreatmentTime" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Treatment.TreatmentRoomOrTrainingRoom">Is het een behandelkamer?</label>
        <input class="form-control" asp-for="@Model.Treatment.TreatmentRoomOrTrainingRoom" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Treatment.Complications">Zijn er nog extra complicaties:</label>
        <input class="form-control" asp-for="@Model.Treatment.Complications" />
    </div>
    <button class="btn btn-primary" type="submit">Behandeling toevoegen</button>
</form>
